/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import 'variables.scss';

body {
    background-color: mat-color($primary);
}

.section-title {
    background-color: white;
    display: inline-flex;
    padding: 10px;
    margin:10px;
}